h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.cardDiv{
    height: 100px;
    text-align: center;
}

.cardDiv div{
    background-color: #e6b3ff;
    height: 100%;
    width: 100%;
    align-content: center;
}
div h3{
    position: relative;
    top:50%;
}