h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.cardDiv{
    height: 200px;
    text-align: center;
}

.cardDiv div{
    background-color: #e6b3ff;
    height: 100%;
    width: 100%;
    
}